<header class="topnav">
    <div class="logo"><img src="assets/ic_fluent_grid_24_regular.svg" alt="Logo"></div>
    <div id="myLinks" class="nav-links">
        <ul>
            <li>
                <a href="#news">News</a>
                <!--ul>
                    <li><a href="#news1">News 1</a></li>
                    <li><a href="#news2">News 2</a></li>
                    <li><a href="#news3">News 3</a></li>
                </ul-->
            </li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
            <!--a href="#news">News</a>
        <div id="news">
            <a href="#news1" class="subLink">   News 1</a>
            <a href="#news2" class="subLink">   News 2</a>
            <a href="#news3" class="subLink">   News 3</a>
            <a href="#news4" class="subLink">   News 4</a>
        </div>
        <a href="#contact">Contact</a>
        https://www.youtube.com/watch?v=NfVLin2MZBI
        https://github.com/jdocdev/NavbarFleboxResponsive/blob/main/styles.css
        https://jdocdev.github.io/NavbarFleboxResponsive/
        file:///d%3A/jrr_/Desktop/Nueva%20carpeta/bar.component.html
        <a href="#about">About</a-->
    </div>
    <!--a href="javascript:void(0);" class="icon" (click)="openNavMenu()">
        <i class="fa fa-bars"><img src="assets/ic_fluent_grid_24_regular.svg" alt=""></i>
    </a-->
    <a (click)="openNavMenu()" class="menu" ><button>Menu</button></a>

        <!--div class="logo">
            <img src="" alt="Logo">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Project</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </nav>
        <a href="#" class="button"><button>Contact</button></a>
        <a (click)="openNav()" href="#" class="menu">Menu</a>
        <div class="overlay" id="mobile-menu">
            <a (click)="closeNav()" href="#" class="close">&times;</a>
            <div class="overlay-content">
                <a href="#">Services</a>
                <a href="#">Projects</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
        </div-->
</header>
