.topnav {
    background-color: #440216;
    width: 80%;
    display: flex;
    position: fixed;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    z-index: 2;
}

.topnav a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.topnav .nav-links a:hover {
    color: #e7c636; 
}

.topnav .nav-links,
.topnav .overlay ul{
    list-style: none;
}

.topnav .nav-links li {
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;
}

.topnav .nav-links li a {
    font-size: 36px;
    font-weight: 700;
}

.topnav .nav-links li:hover {
    transform: scale(1.2);
}

.dropdown {
    display: none;

    position: absolute;
    width: max-content;
    box-shadow: 5px 5px 4px #ccc;
    background-color: rgba(139, 5, 54, 0.95);
    border-radius: 10px;
    left: 0;
    border: 1px solid #ccc;
}

.dropdown ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.dropdown ul li a {
    text-decoration: none;
    color: #eceff1;
    padding: 15px 20px;
    display: block;
}

.topnav .dropdown ul li a {
    font-size: 20px;
}

.topnav .logo {
    cursor: pointer;
    margin-right: auto;
}

.topnav .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.topnav .logo img:hover {
    transform: scale(1.2);
}

.menu {
    display: none;
}

.topnav .menu button {
    margin-left: 20px;
    font-weight: 700;
    color: #000000;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.topnav .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(136, 34, 72, 0.925);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.topnav .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    padding-inline-start: 0; 
}

.topnav .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
    text-decoration: none;
}

.topnav .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-width: 1300px){
    .topnav {
        height: 60px;
    }
    .topnav .logo img {
        height: 50px;
    }
    .nav-links {
        display: none;
    }
    .menu {
        display: inherit;
    }
}