<header class="topnav">
    <div class="logo"><a href="#"><img src="assets/ic_fluent_grid_24_regular.svg" alt="Logo"></a></div>
    <div id="myLinks" class="nav-links">
        <ul>
            <li><a href="#cosmetica">Cosmética</a></li>
            <li><a href="#hidrotermal">Hidrotermal</a></li>
            <li><a href="#masaje">Masaje</a></li>
            <li><a href="#tratamientos">Tratamientos</a></li>
            <li (mouseenter)="hoverEvent('dropdown-otros', true)" 
            (mouseleave)="hoverEvent('dropdown-otros', false)" >
                <a href="#otros">Otros</a>
            </li>
            <div class="dropdown" id="dropdown-otros">
                <ul>
                    <li><a href="#otros1">Depilación</a></li>
                    <li><a href="#otros2">Micropigmentación</a></li>
            
                </ul>
            </div>
        </ul>
    </div>
    <!--a href="javascript:void(0);" class="icon" (click)="openNavMenu()">
        <i class="fa fa-bars"><img src="assets/ic_fluent_grid_24_regular.svg" alt=""></i>
    </a-->
    <a (click)="openNav()" class="menu" ><button>Menu</button></a>
    <div class="overlay" id="mobile-menu">
        <a (click)="closeNav()" class="close">&times;</a>
        <div (click)="closeNav()" class="overlay-content">
            <li><a href="#cosmetica">Cosmética</a></li>
            <li><a href="#hidrotermal">Hidrotermal</a></li>
            <li><a href="#masaje">Masaje</a></li>
            <li><a href="#tratamientos">Tratamientos</a></li>
            <li><a href="#otros">Otros</a></li>
        </div>
    </div>
</header>
